<article>
    <form [formGroup]="formulario" novalidate (ngSubmit)="enviar()">
        <!--Text-->    
        <h2>Usuario</h2>
        <p>
            <label for="firstname">Nombre</label>
            <input type="text"
            placeholder="Indica tu nombre" formControlName="name">
        </p>

        <div [hidden]="formulario.controls.name.valid || formulario.controls.name.untouched" >
            <div class="error-message"
                [hidden]="!formulario.controls.name.errors?.required">
                <p>El apellido es obligatorio</p>
            </div>
            <div class="error-message"
                [hidden]="!formulario.controls.name.errors?.minlength">
                <p>Debe contener al menos 4 caracteres</p>
            </div>
        </div>
  
        <p>
            <label for="lastname">Apellidos</label>
            <input type="text" 
                placeholder="Indica tus apellidos"  formControlName="apellido">

        </p>
        <!-- <div [hidden]="apellidoState.valid || apellidoState.untouched" 
            class="error-message">
            <p>El apellido es obligatorio</p>
        </div> -->
        <p>
            <label for="telefono">Telefono</label>
            <input type="text" 
            placeholder="Indica tu telefono"  formControlName="telefono">
        </p>
        <div [hidden]="formulario.controls.telefono.valid || formulario.controls.telefono.untouched" >
            <div class="error-message"
                [hidden]="!formulario.controls.telefono.errors?.pattern">
                <p>formato no valido</p>
            </div>
        </div>

        <!--Radio-Buttos-->
        <h2>Selecciona una Impresora</h2>
        <div *ngFor="let impresora of aPrinters">
            <input type="radio" 
                [value]="impresora"
                formControlName="impresora"
                (change)="fnaccion()">
            <label>{{impresora.modelo}}</label>
        </div>

        <!--Checkbox-->    
        <h2>Seleción de opciones</h2>
        <p>
            <input id="print" type="checkbox" 
                formControlName="color"
                (change)="avisarColor()">
            <label for="print">Imprimir color</label><br>
            
            <input id="tono" type="checkbox"
                formControlName="claro"
                (change)="avisarColor()"> 
            <label for="tono">Tono claro</label>			
        </p>
        
        <!--Select/options --> 
        <p>
            <label for="select">Departamento </label>
            <select id="select" 
            formControlName="departamento"            
            (change)="avisarDepartamento()"> 
                <option *ngFor="let departamento of aDepartamentos"
                    [ngValue]="departamento">
                    {{departamento.nombre}}
                </option>
            </select>
        </p>	
        <p>
            <button type="submit" [disabled]='formulario.invalid'>Enviar</button>
            <!-- <button type="submit" [disable]='formulario.invalid'>Enviar</button> -->
            <button type="button" (click)="borrar()" [disabled]='formulario.pristine'>Borrar</button>
        </p>
    </form>

    <p>
        {{formulario.value | json}}
    </p>


    <p>
        <input id="verResumen" name="verResumen" type="checkbox"> 
        <label for="verResumen">Ver Resumen</label>			
    </p>    
    <div *ngIf="verResumen">
        <h2>Resultado</h2>
        <ul>
            <li>Usuario: {{formulario.controls.name.value}}</li>
            <li>Impresora seleccionada: {{formulario.controls.impresora.value | json}}</li>
            <li>Opción print seleccionada: {{formulario.controls.isColor | json}}</li>
            <li>Opción claro seleccionada: {{formulario.controls.isClaro | json}}</li>
            <li>Provincia elegida: {{formulario.controls.departamento.value | json}}</li>
        </ul>    
    </div>	
    <legend>Validación</legend>
    <ul>
        <li>Validez: {{formulario.valid}}</li>
        <li>Untouched: {{formulario.untouched}}</li>
        <li>Pristine: {{formulario.pristine}}</li>
    </ul>   
    
    
</article>